In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.linear_model import LinearRegression
import os
from sys import platform

 Table

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `test.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [3]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [4]:
df_train.sample()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
20929,20929,0.61,Ideal,F,VVS2,61.8,55.0,5.43,5.47,3.37,7.876

In [5]:
df_test.sample()

          id  carat        cut color clarity  depth  table     x     y     z
10011  10011    0.8  Very Good     H     VS2   63.4   60.0  5.92  5.82  3.72

In [6]:
df_train.shape

(40455, 11)

In [7]:
df_test.shape

(13485, 10)

In [8]:
#SUBMISSION -> test

In [9]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
24073,24073,0.41,Ideal,F,VS1,62.3,55.0,4.79,4.77,2.98,6.981

In [10]:
print(df_test.shape[0])
df_test.sample()

13485

      id  carat    cut color clarity  depth  table     x     y     z
865  865   0.31  Ideal     G     SI2   62.2   54.0  4.36  4.39  2.72

#Â Cleaning, processing, feature selection, etc

In [11]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   1.02   63.2   58.0  6.36  6.40  4.03  8.928
1          1   0.35   61.0   57.0  4.54  4.57  2.77  6.477
2          2   0.31   60.5   58.0  4.43  4.40  2.67  6.810
3          3   0.38   61.4   56.0  4.66  4.69  2.87  6.824
4          4   1.64   61.8   56.0  7.59  7.60  4.69  9.776
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   1.20   62.2   55.0  6.77  6.81  4.23  9.149
40451  40451   1.50   64.2   56.0  7.30  7.09  4.62  9.077
40452  40452   1.06   61.9   55.0  6.54  6.58  4.06  8.892
40453  40453   0.31   60.1   58.0  4.40  4.38  2.64  6.385
40454  40454   2.00   60.8   58.0  7.99  8.07  4.88  9.455

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [12]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [13]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say I'm done training")

sh: -c: line 0: unexpected EOF while looking for matching `''
sh: -c: line 1: syntax error: unexpected end of file

In [14]:
y_pred = regressor.predict(X_test)

In [15]:
np.sqrt(mean_squared_error(y_pred, y_test))

0.2682717227191074

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [16]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

          id  carat  depth  table     x     y     z
11897  11897   0.56   61.6   61.0  5.38  5.21  3.26

#Â Predict on the `test.csv`

In [17]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say -v ayam don predictin")

Voice `ayam' not found.

#Â DF with two columns

In [18]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

          id  carat  depth  table     x     y     z
10210  10210   1.34   61.3   55.0  7.16  7.12  4.38

In [19]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [23]:
df_for_submission

          id     price
0          0  8.111878
1          1  7.272598
2          2  6.588401
3          3  9.047702
4          4  6.692414
...      ...       ...
13480  13480  7.402301
13481  13481  8.461882
13482  13482  9.085919
13483  13483  6.978441
13484  13484  9.665602

[13485 rows x 2 columns]

In [20]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

        id     price
2033  2033  7.807445

#Â Export (index=False)

In [21]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say redi for submission")

In [22]:
df_for_submission.head()

   id     price
0   0  8.111878
1   1  7.272598
2   2  6.588401
3   3  9.047702
4   4  6.692414